matplotlib==3.3.2
seaborn==0.11.1
Shapely==1.7.1
pandas==1.2.3
ipywidgets==7.6.3
numpy==1.19.2
tensorflow==2.4.1
requests==2.25.1
download==0.3.5
geopandas==0.9.0
branca==0.4.2
contextily==1.1.0
folium==0.12.1
